.input-field-wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.section-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.text {
    font-size: 1.2rem;
}

.btn {
    background-color: rgb(238, 238, 238);
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color .2s ease-in-out;
    width: 150px;
}

.btn:hover {
    background-color: rgb(218, 218, 218);
    transition: background-color .2s ease-in-out;
}

.input {
    border-radius: 5px !important;
    border: 1px solid rgb(202, 202, 202) !important;
}

textarea {
    height: 200px;
}

.technology-form {
    margin-top: 10px;
}