:root {
  --main-bg:            #1A1A1A;
  --section-card-input: #2A2A2A;
  --buttons-link:     	#00B86B;
  --button-hover:       #009F5F;
  --main-text:          #FFFFFF;
  --simple-text:        #CCCCCC;
  --placeholder:       	#999999;
  --card-background:    #e9e9e9;
}

::selection {
  background: var(--button-hover);
  color: var(--main-bg);
}

* {
    box-sizing: border-box;
}

html { scroll-behavior: smooth; }

body {
    font-family:      "Poppins", sans-serif;
    font-weight:      400;
    font-style:       normal;
    color:            var(--simple-text);
    background-color: var(--main-bg);
    font-size:        1.125rem;
}

section {
    padding: 100px 0;
}

a {
    color: var(--main-text);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: var(--buttons-link);
}

h1 {
    font-size: 3rem;
    font-weight: 500;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.3rem;
    line-height: 2rem;
}

.section-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
}

/* HEADER */

header {
    width: 100%;
}

.header-wrapper {
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

nav>ul {
    display: flex;
    flex-direction: row;
    font-weight: 500;
}

.nav-item {
    margin: 20px;
    color: var(--simple-text);
}

.logo {
    font-size: 20px;
    margin: 20px;
    font-weight: 600;
}
/* HEADER */


/* INTRODUCTION SECTION */

.me {
    display: flex;
    align-items: center;
}

.introduction {
    background-position: center;
    background-size: cover;
}

.introduction-logo {
    text-align: center;
}

.introduction-logo img {
    height: 600px;
}

.introduction-title {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--placeholder);
}

.titulus {
    margin-bottom: 50px;
    font-size: 1.5rem;
}

/* INTRODUCTION SECTION */


/* ABOUT ME */

.about-me {
    background-color: var(--section-card-input);
}

.me-img img {
    height: 400px;
}

.aboutme-text {
    padding: 0 20px;
}

.aboutme-text>h2 {
    border-bottom: 1px solid var(--placeholder);
    margin-bottom: 50px;
    padding-bottom: 10px;
}

/* ABOUT ME */


/* TECHNOLOGY */

.technology-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--section-card-input);
    border-radius: 20px;
    padding: 50px;
}

.technology-wrapper>img {
    height: 500px;
    margin: 50px 0;
}

.technology-title {
    text-align: center;
}

.technology-card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.technology-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px 40px;
    border-radius: 50px 25px;
    margin: 10px;
}

.technology-logo {
    height: 100px;
}

.technology-name {
    text-align: center;
    padding-top: 10px;
    color: var(--main-bg);
}

/* TECHNOLOGY */


/* PROJECTS */

.projects-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-projects {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.project h3 {
    text-align: center;
}

.projects-title {
    margin: 50px;
}

.project img {
    height: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* PROJECTS */


/* CONTACTS */

.contacts {
    background-color: var(--section-card-input);
}

.contacts-wrapper {
    display: flex;
    flex-direction: column;
}

.contacts-title {
    text-align: center;
    margin-bottom: 50px;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.contact div {
    background-color: var(--card-background);
    border-radius: 10px;
    padding: 20px 40px;
}

.contact p {
    color: var(--main-bg);
    text-align: center;
    margin-top: 10px;
}

.contact-logo {
    height: 100px;
}

/* CONTACTS */


/* FOOTER */

footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 1rem;
}

/* FOOTER */



@media (max-width: 1440px) {
    .introduction-logo img {
        height: 500px;
    }
}

@media (max-width: 1200px) {
    .me-img img {
        height: 300px;
    }
}

@media (max-width: 992px) {
    h1 {
        font-size: 2rem;
        font-weight: 500;
    }

    h2 {
        font-size: 1.3rem;
        font-weight: 500;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
        line-height: 2rem;
    }

    .introduction-logo img {
        height: 400px;
    }

    .aboutme-wrapper {
        display: flex;
        flex-direction: column;
    }

    .me-img {
        text-align: center;
    }
}

@media (max-width: 768px) {
    nav {
        display: none;
    }

    .introduction-wrapper {
        display: flex;
        flex-direction: column;
    }

    .introduction-logo img {
        height: 250px;
    }
}

@media (max-width: 481px) {
    .me-img img {
        height: 200px;
    }
}
